tensorflow-gpu
tensorflow
deepface
matplotlib
keras
numpy
opencv-python
pandas
mysql-connector-python
protobuf==3.19.6
ultralytics

numpy
torch
loguru
scikit-image
tqdm
torchvision
Pillow
thop
ninja
tabulate
tensorboard==2.10
lap
motmetrics
filterpy
h5py
supervision

onnx
onnxruntime
onnx-simplifier==0.3.5

loguru
lap
thop
onemetric
screeninfo

flask
scipy
setuptools
scikit-learn
face_recognition
flask_socketio
eventlet