<!DOCTYPE html>
<html>
<head>
    <title>Record Mode</title>
</head>
<body>
    <h2>Record Mode</h2>
    <form method="post">
        <label>First Name:</label><br>
        <input type="text" name="FirstName"><br>
        <label>Last Name:</label><br>
        <input type="text" name="LastName"><br>
        <label>Age:</label><br>
        <input type="text" name="Age"><br>
        <label>Gender:</label><br>
        <input type="text" name="Ethnicity"><br>
        <label>Ethnicity:</label><br>
        <input type="text" name="Gender"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
