<!DOCTYPE html>
<html>
<head>
    <title>Zone Creation</title>
    <style>
        body {
            text-align: center;
            cursor: crosshair;
        }
        #zoneCanvas {
            max-width: 70%;
            height: auto;
            border: 1px solid #000;
        }
    </style>
</head>
<body>
    <h1>Zone Creation</h1>
    <div id="zone-number"></div>

    <canvas id="zoneCanvas"></canvas>
    <button id="zone-created-button">Create Zone</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/zones');

        socket.on('zone_data', function(data) {
            var zoneNumber = data.zone_number;
            var frameData = data.frame;
            var width = data.width;
            var height = data.height;

            var canvas = document.getElementById('zoneCanvas');
            var context = canvas.getContext('2d');
            var img = new Image();
            img.onload = function() {
                canvas.width = width;
                canvas.height = height;
                context.drawImage(img, 0, 0, width, height);
                document.getElementById('zone-number').textContent = 'Zone #' + zoneNumber;
            };
            img.src = 'data:image/jpeg;base64,' + frameData;

            var polygons = [];

            canvas.addEventListener('click', function(event) {
                const rect = canvas.getBoundingClientRect();
                const x = event.clientX - rect.left;
                const y = event.clientY - rect.top;
                polygons.push([x, y]);

                context.beginPath();
                context.arc(x, y, 5, 0, 2 * Math.PI, false);
                context.fillStyle = 'blue';
                context.fill();
            });

            var zoneCreatedButton = document.getElementById('zone-created-button');
            zoneCreatedButton.addEventListener('click', function() {
                socket.emit('zone_polygon', polygons);
                polygons = [];
            });
        });
    </script>
</body>
</html>
